html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background-color: #81b3f5 !important;
}

.members-list {
  background-color: #fff;
  border-radius: 6px;
}

#santa {
  left: 100%;
  position: relative;
  animation: fly 5s;
  height: 200px;
  width: 300px;
  margin-top: 5%;
}

#santa-hidden {
  display: none;
}

@keyframes fly {
  0% {
    left: 90%;
    top: 5px;
  }
  100% {
    left: -300px;
  }
}
